<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item (click)="navigateTo('/admin/dashboard/orders')" class="submenu-item">
        <mat-icon matListItemIcon>local_shipping</mat-icon>
        <span matListItemTitle>Commandes</span>
      </mat-list-item>
      <mat-list-item (click)="toggleProductsSubmenu()" [class.active]="showProductsSubmenu">
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <span matListItemTitle>Produits</span>
        <mat-icon matListItemMeta>{{ showProductsSubmenu ? 'expand_less' : 'expand_more' }}</mat-icon>
      </mat-list-item>

      <div *ngIf="showProductsSubmenu" class="submenu">
        <mat-list-item (click)="navigateTo('/admin/dashboard/products')" class="submenu-item">
          <span matListItemTitle>Liste des produits</span>
        </mat-list-item>
        <mat-list-item (click)="navigateTo('/admin/dashboard/products/add')" class="submenu-item">
          <span matListItemTitle>Ajouter un produit</span>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" matTooltip="Déconnexion">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>