<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item (click)="navigateTo('users')" [class.active]="currentPage === 'users'">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Utilisateurs</span>
      </mat-list-item>
      <mat-list-item (click)="navigateTo('products')" [class.active]="currentPage === 'products'">
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <span matListItemTitle>Produits</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" matTooltip="Déconnexion">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <app-admin-users-list *ngIf="currentPage === 'users'"></app-admin-users-list>
      <app-admin-products-list *ngIf="currentPage === 'products'"></app-admin-products-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
